/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    margin: 0;
    padding: 3.5rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 25px;
}

nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 96vw;
    padding: 1vw 2vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > a img {
    width: 10.5rem;
}

nav div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24%;

}

nav div a {
    color:black;
    text-decoration: none;
}

h1 {
    margin: 90px 0 50px 0;
    color: white;
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem ;
}

h4 {
    font-size: 1.75rem;
    font-weight: bolder;
}


#hero-image {
    background-image: url("../images/landing.jpg");
    height: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 13rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-image p{
    color: white;
    font-size: 25px;
    width: 627px;
    text-align: center;
    }

#music-icons h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 50px 0px 0px 0px;
}

#music-icons hr {
    width: 370px;
    border-width: 2px;
    border-style: solid;
    display: block;
    color: #00B172;
    align-items: center;
}

.container div.box img {
    width: 175px;
    height: 150px;
}

.container {
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
}
.container div.box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container div.box div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container h4 {
    color: #00B172
}

#west #white-logo {
    width: 120px;
    height: 120px;
    align-self: center;
}

#west #screen {
    width: 340px;
}

#west {
    padding: 70px 50px;
    background-color: #00B172;
    margin: 0px 70px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#west h3 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

#west hr {
    width: 568px;
    border-width: 2px;
    border-style: solid;
    color: white;
    position: absolute
}

#west .features {
    width: 350px;
}

